body{
    background-color: beige;
}
#pet-adoption {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  .pet-card{
    display: flex;
    border: 1px solid darkgray;
    width: 30%;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 10px;
    text-align: center;
  }
  img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 10px;

}
.header{
    display: flex;
    justify-content: center;
    border:1px solid darkgray;
    border-style: solid;
    width: 470px;
}
#pet-buttons{
    border-radius: 10%;
}

#dog{
    background-color: aqua;
}
#cat{
    background-color: coral;
}
#dino{
    background-color: lawngreen;
}
.footer{
    display: flex;
    justify-content: center;
    border:1px solid darkgray;
    border-style: solid;
    width: 470px;
}