body{
    background-color: beige;
    
}

#pet-adoption {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  .pet-card{
    display: flex;
    border: 1px solid darkgray;
    width: 30%;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 10px;
    padding-bottom: 0%;
    text-align: center;
    max-width: 960px;
    margin-top:auto;
    height: 550px;
  }
  img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 10px;

}
header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid darkgray;
    
    width: 100%;
    height: 50px;
}
#pet-buttons{
    border-radius: 10%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#dog{
    background-color: aqua;
    margin-right:20px;
}
#cat{
    background-color: coral;
    margin-right:20px;
}
#dino{
    background-color: lawngreen;
    margin-right:20px;
}
footer{
    width: 100%;
    height: 81px;
    margin-top: auto;
    display:flex;
    align-items: flex-end;
    
} 

.special-skills{
    margin: 10px;
    padding: 10px;
}
.dog{
    background-color: aqua;
    padding: 15px 10px;
    width: 100%;
}
.cat{
    background-color: coral;
    padding: 15px 10px;
    width: 100%;
    
}
.dino{
    background-color: lawngreen;
    padding: 15px 10px;
    width: 100%;
 }