body{
    background-color: beige;
    
}

#pet-adoption {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  .pet-card{
    display: flex;
    border: 1px solid darkgray;
    width: 30%;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 10px;
    padding-bottom: 0%;
    text-align: center;
    max-width: 960px;
  }
  img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 10px;

}
.header{
    display: flex;
    justify-content: center;
    border:1px solid darkgray;
    border-style: solid;
    width: 470px;
}
#pet-buttons{
    border-radius: 10%;
    display: flex;
    justify-content: center;
}

#dog{
    background-color: aqua;
}
#cat{
    background-color: coral;
}
#dino{
    background-color: lawngreen;
}
.footer{
    
    border:1px solid darkgray;
    border-style: solid;
    width: 470px;
    height: 81px;
    position: relative;
	bottom: 0;
	left: 0;
    right: 0;
    margin-top:auto;
}

.special-skills{
    margin: 10px;
    padding: 10px;
}
.dog{
    background-color: aqua;
    padding: 15px 10px;
    width: 450px;
}
